<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Makos_Cave</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/guess">Inicio</a></li>
            <li><a href="/">Iniciar Sesión</a></li>
        </ul>
    </nav>

    <h2>xaxD</h2>
    
    
    <footer class="contact-bar">
        <p>Contacto: Soporte a makoghan@gmail.com | 
                     <a href="https://www.facebook.com/mako.ghang?mibextid=nb1MFm3jZYALyyMy" target="_blank">Facebook</a> |
        </p>
    </footer>
</body>
</html>